src/romp/demo/videos
src/demo/animation
src/demo/*_results
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log
*.mp4
*.npz
*.fbx
*.zip
.vscode
.idea/
model_data/
src/active_configs
src/romp/lib/models/nvxia.py
